# python=3.11
# install pytorch first following https://pytorch.org/get-started/locally/

opencv-python
tqdm
matplotlib==3.8.0
easydict
pandas
scipy
torchmetrics
torchvision
pyqt5
palettable 
pyyaml
scikit-image